@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html, body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  animation: fadein 0.5s;
  -webkit-user-select: none;
}

h3 {
  position: absolute;
  left: 60px;
  top: 30px;
}

h2 {
  position: absolute;
  left: 60px;
  top: 50px;
}

#close-btn {
  background-image: url(imgs/close.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: transparent;
  height: 20px;
  width: 20px;
  border: none;
  position: absolute;
  top: 5px;
  right: 5px;
}

#close-btn:hover {
  background-color: #fc0000;
}

/*
#max-btn {
  background-image: url(imgs/maximize.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: transparent;
  height: 20px;
  width: 20px;
  border: none;
  position: absolute;
  top: 5px;
  right: 30px;
}

#max-btn:hover {
  background-color: #d8d4d8;
}
*/

#min-btn {
  background-image: url(imgs/minimize.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: transparent;
  height: 20px;
  width: 20px;
  border: none;
  position: absolute;
  top: 5px;
  right: 35px;
}

#min-btn:hover {
  background-color: #d8d4d8;
}

.container {
  padding: 0px;
}

#sidepanel {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: #03af1d;
  padding: 0px;
  z-index: -1;
  border-right: 1px solid black;
}
